
:root {
    --primary-color: #118a58;
    --primary-background-color: #FFF5EE;
    --primary-border-color: #FAF0E6;
    --secondary-color: #deb887;
    --secondary-background-color: #FFFAFA;
    --primary-black-color: #000000;
    --primary-darkgrey-color: #917D6E;
    --secondary-gray-color: #F6F2EF; 
    --primary-white-color:#FFFFFF;
  }

body{ 
    background-color: var(--secondary-background-color);
}

a, p{
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 19px;
}

button {
  font-family: 'Acme', sans-serif;
  font-weight: 600;
}

main{
    min-height: 350px;
  }

/** Navbar **/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background-color);
    border: solid 1px var(--primary-border-color);
    padding: 0 16px 0 16px;
}

.title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  color: var(--primary-black-color);
}

.navigation_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 320px;
}


a {
    font-family: Acme, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-black-color);
}


/**
/** Main **/
/**/

  #quote-background-flex{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--primary-background-color);
    margin: 10px 0px;
    border: solid 2px var(--primary-black-color);
    border-radius: 40px;
    padding: 36px 0;
    height: 520px;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  #quote{
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 32px;
    padding: 80px;
  }
  
  
  /**
  /** Section **/
  /**/
  
  .section-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .button {
      background-color: var(--secondary-gray-color);
      color: var(--primary-black-color);
      padding: 8px 16px;
      font-size: 16px;
      border: solid 2px var(--primary-black-color);
      border-radius: 16px;
    }
    
  .button:hover{
      background-color: var(--secondary-color);
    }
  
    .settings-flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .text-editing-flex{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    
    .dropdown-content .drop-item:hover {
      border: solid 1px var(--primary-color);
      border-radius: 8px;
       /* color: var(--primary-white-color); */
    }
  
    
    .dropdown:hover .dropdown-content {
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .color-change-masterflex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .color-change-flex{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .settings-item{
      width: 55px;
      height: 55px;
      border: solid 2px black;
      background-color: var(--secondary-gray-color);
      border-radius: 8px;
    }
    .settings-item:hover{
      width: 55px;
      height: 55px;
      border: solid 4px green;
      border-radius: 8px;
    }
  
  /**
  /** Settings Menu Buttons **/
  /**/

.Light-Salmon-Pink{
  background-color: #FAA4A4;
  color: #FAA4A4;
}

.Spanish-Pink{
  background-color: #F8BCBC;
  color: #F8BCBC;
}

.Linen{
  background-color: #FEECE5;
  color: #FEECE5;
}

.Medium-Spring-Bud{
  background-color:  #D0D194;
  color:  #D0D194;
}

.Dark-Khaki{
  background-color: #AFB56B;
  color: #AFB56B;
}

.Light-Taupe{
  background-color: #B3876F;
  color: #B3876F;
}

.Olivine{ 
  background-color: #98B462;
  color: #98B462;
}

.Medium-Spring-Bud{
  background-color:  #BDD588;
  color:  #BDD588;
}

.Tea-Green{
  background-color: #DAF0BC;
  color: #DAF0BC;
}

.Nyanza{ 
  background-color: #EBFBE0;
  color: #EBFBE0;
}

.Green-Sheen{ 
  background-color: #79C7A0;
  color: #79C7A0;
}

.Zomp{ 
  background-color: #2A9899;
  color: #2A9899;
}

.Palatinate-Purple{ 
  background-color: #620F5B;
  color: #620F5B;
}

.X11-Maroon{ 
  background-color: #B52F70;
  color: #B52F70;
}

.Terra-Cotta{ 
  background-color: #ED6661;
  color: #ED6661;
}

.Meat-Brown{ 
  background-color: #EDB435;
  color: #EDB435;
}

.Citron{ 
  background-color: #96A53A;
  color: #96A53A;
}

.Olive-Drab{ 
  background-color: #6F8026;
  color: #6F8026;
}